doctype html 
html 
    head 
        title #{pageTitle}
        link(rel="stylesheet", href="/admin/css/layoutAdmin.css")
        link(rel="stylesheet", href="/admin/css/transition.css")
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        block style
    body 

        include ../partial/sidebar.pug  
        include ../partial/topbar.pug
        
        script(src="/admin/script/dashboard.js") 

        script(src="https://unpkg.com/@swup/parallel-plugin@0")
        script(src="https://unpkg.com/swup@4")
        script(src="/admin/script/swup.js" ) 
