.sidebar-color{
    background-color: #EFF6FC;
}

*::-webkit-scrollbar {
    display: none;
}

input:focus {
    outline:0;
}

.tooltip-emoji:not(.shown) {
    display: none;
}
.inner-list-typing{
    margin-top: 5px;
}
.box-typing{
    position: relative;
}

.box-typing .inner-dots{
    position: relative;
    height: 20px;
    width: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    border-radius: 45px;
    margin-top: 2px;
}

.box-typing .inner-dots span{
    animation: blink 1.5s infinite;
    height: 5px;
    width: 5px;
    background-color: #252525;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
}

.box-typing .inner-dots span:nth-child(2){
    animation-delay: 0.2s;
}

.box-typing .inner-dots span:nth-child(3){
    animation-delay: 0.4s;
}

@keyframes blink{
    0%{
        opacity: 0.1;
    }
    20%{
        opacity:1;
    }
    100%{
        opacity: 0.1 ;
    }
}

.custom-file-container .label-container{
    display: none !important;
}

.input-container{
    display: none !important;
}

.custom-file-container .image-preview{
    background-image: none !important;
    background-color: #fff !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
}

.custom-file-container .image-preview .image-preview-item{
    width: 90px !important;
    margin: 0 !important;
    background-size: contain !important;
}

