a{
    text-decoration: none;
}

:root{
    --board-color:#fff;
    --color-text:#000;
    --color-button:#16192C;
    --primary-color:#E8EFFA;
    --top-border:#141B2D;
    --shadow: 1px 1px 1px 1px rgb(0 0 0 / 0.25);
    --show-view:#ECEDEF(51, 45, 45)
}

body.dark{
    --color-text:#fff;
    --primary-color:#141B2D;
    --board-color:#1F2940;
    --color-button:#fff;
    --top-border:#eef0f3;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-de h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px; /* Hoặc sử dụng một giá trị phù hợp với thiết kế của bạn */
}
.board{
    margin: 0 30px 0 30px;
    width: 95%;
    overflow: auto;
    border-radius: 8px;
    background-color: var(--board-color);
    color: var(--color-text);
}
.board img{
    width: 45px;
    height: 45px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 15px;
}
.board h5{
    font-weight: 600;
    font-size: 14px;
    color: var(--color-text);
}
.board span{
    font-weight: 400;
    font-size: 13px;
    color: var(--color-text);
}
.board .product{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

table{
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #eef0f3;
}

thead tr{
    border-top: 2px solid var(--top-border);
    background-color: var(--primary-color);
}

thead td {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: start;
    padding: 15px;
}

tbody tr td{
    padding: 10px 15px ;
}

.status span.active{
    background: #d7fada;
    padding: 4px 4px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
    cursor: pointer;
}
.status span.inactive{
    background: #f0ea9a;
    padding: 4px 4px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
    cursor: pointer;
}

.edit{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    
}

.edit a{
    color: var(--color-button);
    font-size: 12px;
    border: 2px solid #ECEDEF;
    margin: 2px;
    padding: 1px;
    border-radius: 15px;
    font-weight: 600;
}

.edit i{
    font-size: 13px;
    padding: 3px 0;
    border: 2px solid #ECEDEF;
    border-radius: 45px;
    color: var(--color-text);
}

.card-header{
    margin-left: 30px;
    width: 95%;
    overflow: auto;
    font-size: 20px;
    border-radius: 8px;
    background-color: var(--board-color);
    color: var(--color-text);
}
.card-header .card-header_content{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.function{
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 95%;
    overflow: auto;
    font-size: 20px;
    border-radius: 8px;
    color: var(--color-text);
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.function .filter{
    font-size: 14px;
    display: flex;
    font-weight: 600;
    justify-items: center;
    align-items: center;
    border-radius: 7px;
    border: 2px solid #ECEDEF(51, 45, 45);
    box-shadow: var(--shadow);
    padding: 4px;
}
.function .filter i{
    margin-left: 5px;
    margin-right: 5px;
}
.list-view {
    display: flex;
}
.common a{
    color: #5D61F5 !important;
}

.menu-container{
    width: 95%;
}
.list-view li{
    list-style: none;
    margin: 0 15px;
}

.list-view li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-button);
    padding: 4px;
    border-radius: 7px;
    border: 2px solid #ECEDEF(51, 45, 45);
    box-shadow: var(--shadow);
}

.menu-container {
    margin-left: 30px;
    display: inline-block; /* Allows the menu to be inline without gaps */
}
.lastchild{
    margin: 0;
    position: relative;
    padding: 10px 20px;
    flex: 1;
    border-bottom: 2px solid #ccc;
}
ul.menu {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Aligns items horizontally */
  }

  ul.menu li {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    color: var(--color-text);
    position: relative; /* For positioning the border */
    cursor: pointer;
    margin: 0; /* Remove margin to avoid gaps */
    border-bottom: 2px solid #ccc; /* Default border color */
    transition: border-bottom-color 0.5s ease; /* Smooth color transition */
  }

  ul.menu li.activeChoice {
    border-bottom-color: #007BFF; /* Color for the active state */
    color: #007BFF;
  }

  .welcome-container{
    margin-left: 30px;
    margin-top: 20px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .info{
    display: flex;
    align-items: center;
    color: var(--color-text);
  }
  .info img{
    width: 45px;
    height: 45px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 10px;
  }
  .add-new{
    display: flex;
  }
  .box-same{
    cursor: pointer;
    margin: 10px;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-button);
    padding: 8px 6px;
    border-radius: 7px;
    border: 2px solid #ECEDEF(51, 45, 45);
    box-shadow: var(--shadow);
  }
  .box-same span{
    margin-left: 10px;
  }

  .box-same.create{
    background-color: #5C60F5;
    color: #fff;
  }