extends ../../layout/default.pug
block main
    h1 Trang nhóm quyền
    .card.mb-3 
        .card-header Danh sách 
        .card-body 
            .col-8 
            .col-4 
                a(
                    class="btn btn-success"
                    href=`${prefixAdmin}/roles/create`
            ) +Thêm sản phẩm