extends ../../layout/default.pug
block main 
    h1 Trang phân nhóm quyền
    .text-left 
            button(
                type="submit"
                class="btn btn-primary mb-3"
                button-submit 
            ) Cập nhật
    table(
            class="table table-hover table-sm"
        )
            thead 
                tr 
                    th Tính năng 
                    th(class="text-center") Quản trị viên 
                    th(class="text-center") Quản lý nội dung
            tbody 
                tr 
                    td(colspan="4")
                        b Danh mục sản phẩm   
                
                
                
    