nav 
    .logo-name
        .logo-image
            img(src="/image/logoAdmin.png", alt="alt")
        span.logo_name Dashboard
    .menu-items 
        ul.nav-links
            li 
                a(href="/admin/auth/test")
                    <i class="fa-solid fa-house"></i>
                    span.link-name Dashboard
            li 
                a(href="/admin/auth/test1")
                    <i class="fa-solid fa-cart-shopping"></i>
                    span.link-name Product
            li 
                a(href="#")
                    <i class="fa-solid fa-list"></i>
                    span.link-name Categories
            li 
                a(href="#")
                    <i class="fa-solid fa-user-pen"></i>
                    span.link-name Role
            li 
                a(href="#")
                    <i class="fa-solid fa-lock"></i>
                    span.link-name Permission
            li 
                a(href="#")
                    <i class="fa-solid fa-users"></i>
                    span.link-name Account
        ul.logout-mod 
            li
                a(href="#")
                    <i class="fa-solid fa-right-from-bracket"></i>
                    span.link-name Logout
            li
                a(href="#")
                    <i class="fa-solid fa-gear"></i>
                    span.link-name Setting
            //- li.mode
            //-     a(href="#")
            //-         <i class="fa-solid fa-moon"></i>
            //-         span.link-name Dark Mode
            //-     .mode-toggle
            //-         span.switch