div(class="w-96	 h-screen  overflow-y-auto sm:ml-16 sidebar-color flex flex-col  pt-5 pb-5 px-3")

    //- <form class="w-full	 mx-auto  shadow-md">   
    //-     <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    //-     <div class="relative">
    //-         <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
    //-             <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
    //-                 <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
    //-             </svg>
    //-         </div>
    //-         <input type="search" id="default-search" class=" text-xl block w-full ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Find your friend" required />
    //-     </div>
    //- </form>

    <div class="flex items-center bg-white rounded-full shadow-md px-4 py-2" >
        <!-- Search Icon -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4a7 7 0 100 14 7 7 0 000-14zM21 21l-4.35-4.35" />
        </svg>
        <!-- Input Field -->
        input(class="ml-2 w-full bg-transparent focus:border-none focus:outline-none focus:text-gray-600 border-0 focus:shadow-none" type="text" placeholder="Search")
    </div>
 
    //- <div class="bg-white p-4 rounded-lg shadow-md max-w-sm border border-gray-200 overflow-y-auto max-h-52 mt-10">
    //-     <div class="border-b pb-2 mb-3">
    //-         <h2 class="text-xl font-semibold">Groups</h2>
    //-     </div>

    //-     <!-- Chat Item 1 -->
    //-     <div class="flex items-center justify-between mb-4 border-b">
    //-         <div class="flex items-center space-x-4 pb-2">
    //-             <img class="w-10 h-10 rounded-full" src="https://via.placeholder.com/40" alt="Friends Forever">
    //-             <div>
    //-                 <h3 class="text-sm font-semibold">Friends Forever</h3>
    //-                 <p class="text-sm text-gray-500">Hahahahah!</p>
    //-             </div>
    //-         </div>
    //-         <div class="text-right">
    //-             <p class="text-xs text-gray-400">Today, 9:52pm</p>
    //-             <span class="inline-flex items-center justify-center h-6 w-6 text-xs font-semibold text-white bg-red-500 rounded-full">4</span>
    //-         </div>
    //-     </div>
    //-      <div class="flex items-center justify-between mb-4 border-b">
    //-         <div class="flex items-center space-x-4 pb-2">
    //-             <img class="w-10 h-10 rounded-full" src="https://via.placeholder.com/40" alt="Friends Forever">
    //-             <div>
    //-                 <h3 class="text-sm font-semibold">Friends Forever</h3>
    //-                 <p class="text-sm text-gray-500">Hahahahah!</p>
    //-             </div>
    //-         </div>
    //-         <div class="text-right">
    //-             <p class="text-xs text-gray-400">Today, 9:52pm</p>
    //-             <span class="inline-flex items-center justify-center h-6 w-6 text-xs font-semibold text-white bg-red-500 rounded-full">4</span>
    //-         </div>
    //-     </div>
        
    //-      <div class="flex items-center justify-between mb-4 border-b">
    //-         <div class="flex items-center space-x-4 pb-2">
    //-             <img class="w-10 h-10 rounded-full" src="https://via.placeholder.com/40" alt="Friends Forever">
    //-             <div>
    //-                 <h3 class="text-sm font-semibold">Friends Forever</h3>
    //-                 <p class="text-sm text-gray-500">Hahahahah!</p>
    //-             </div>
    //-         </div>
    //-         <div class="text-right">
    //-             <p class="text-xs text-gray-400">Today, 9:52pm</p>
    //-             <span class="inline-flex items-center justify-center h-6 w-6 text-xs font-semibold text-white bg-red-500 rounded-full">4</span>
    //-         </div>
    //-     </div>
    //-      <div class="flex items-center justify-between mb-4 border-b">
    //-         <div class="flex items-center space-x-4 pb-2">
    //-             <img class="w-10 h-10 rounded-full" src="https://via.placeholder.com/40" alt="Friends Forever">
    //-             <div>
    //-                 <h3 class="text-sm font-semibold">Friends Forever</h3>
    //-                 <p class="text-sm text-gray-500">Hahahahah!</p>
    //-             </div>
    //-         </div>
    //-         <div class="text-right">
    //-             <p class="text-xs text-gray-400">Today, 9:52pm</p>
    //-             <span class="inline-flex items-center justify-center h-6 w-6 text-xs font-semibold text-white bg-red-500 rounded-full">4</span>
    //-         </div>
    //-     </div>
    //-      <div class="flex items-center justify-between mb-4 border-b">
    //-         <div class="flex items-center space-x-4 pb-2">
    //-             <img class="w-10 h-10 rounded-full" src="https://via.placeholder.com/40" alt="Friends Forever">
    //-             <div>
    //-                 <h3 class="text-sm font-semibold">Friends Forever</h3>
    //-                 <p class="text-sm text-gray-500">Hahahahah!</p>
    //-             </div>
    //-         </div>
    //-         <div class="text-right">
    //-             <p class="text-xs text-gray-400">Today, 9:52pm</p>
    //-             <span class="inline-flex items-center justify-center h-6 w-6 text-xs font-semibold text-white bg-red-500 rounded-full">4</span>
    //-         </div>
    //-     </div>
    //- </div>

    <div class="bg-white p-4 rounded-lg shadow-md max-w-sm border border-gray-200 overflow-y-auto h-full  w-full mt-10">
        <div class="border-b pb-2 mb-3">
            <h2 class="text-xl font-semibold">People</h2>
        </div>

        <!-- Chat Item 1 -->
        <div class="flex items-center justify-between mb-4 border-b">
            <div class="flex items-center space-x-4 pb-2">
                <img class="w-10 h-10 rounded-full" src="https://via.placeholder.com/40" alt="Friends Forever">
                <div>
                    <h3 class="text-sm font-semibold">Friends Forever</h3>
                    <p class="text-sm text-gray-500">Hahahahah!</p>
                </div>
            </div>
            <div class="text-right">
                <p class="text-xs text-gray-400">Today, 9:52pm</p>
                <span class="inline-flex items-center justify-center h-6 w-6 text-xs font-semibold text-white bg-red-500 rounded-full">4</span>
            </div>
        </div>
        <div class="flex items-center justify-between mb-4 border-b">
            <div class="flex items-center space-x-4 pb-2">
                <img class="w-10 h-10 rounded-full" src="https://via.placeholder.com/40" alt="Friends Forever">
                <div>
                    <h3 class="text-sm font-semibold">Friends Forever</h3>
                    <p class="text-sm text-gray-500">Hahahahah!</p>
                </div>
            </div>
            <div class="text-right">
                <p class="text-xs text-gray-400">Today, 9:52pm</p>
                <span class="inline-flex items-center justify-center h-6 w-6 text-xs font-semibold text-white bg-red-500 rounded-full">4</span>
            </div>
        </div>
        <div class="flex items-center justify-between mb-4 border-b">
            <div class="flex items-center space-x-4 pb-2">
                <img class="w-10 h-10 rounded-full" src="https://via.placeholder.com/40" alt="Friends Forever">
                <div>
                    <h3 class="text-sm font-semibold">Friends Forever</h3>
                    <p class="text-sm text-gray-500">Hahahahah!</p>
                </div>
            </div>
            <div class="text-right">
                <p class="text-xs text-gray-400">Today, 9:52pm</p>
                <span class="inline-flex items-center justify-center h-6 w-6 text-xs font-semibold text-white bg-red-500 rounded-full">4</span>
            </div>
        </div>
        <div class="flex items-center justify-between mb-4 border-b">
            <div class="flex items-center space-x-4 pb-2">
                <img class="w-10 h-10 rounded-full" src="https://via.placeholder.com/40" alt="Friends Forever">
                <div>
                    <h3 class="text-sm font-semibold">Friends Forever</h3>
                    <p class="text-sm text-gray-500">Hahahahah!</p>
                </div>
            </div>
            <div class="text-right">
                <p class="text-xs text-gray-400">Today, 9:52pm</p>
                <span class="inline-flex items-center justify-center h-6 w-6 text-xs font-semibold text-white bg-red-500 rounded-full">4</span>
            </div>
        </div>
        <div class="flex items-center justify-between mb-4 border-b">
            <div class="flex items-center space-x-4 pb-2">
                <img class="w-10 h-10 rounded-full" src="https://via.placeholder.com/40" alt="Friends Forever">
                <div>
                    <h3 class="text-sm font-semibold">Friends Forever</h3>
                    <p class="text-sm text-gray-500">Hahahahah!</p>
                </div>
            </div>
            <div class="text-right">
                <p class="text-xs text-gray-400">Today, 9:52pm</p>
                <span class="inline-flex items-center justify-center h-6 w-6 text-xs font-semibold text-white bg-red-500 rounded-full">4</span>
            </div>
        </div>
        <div class="flex items-center justify-between mb-4 border-b">
            <div class="flex items-center space-x-4 pb-2">
                <img class="w-10 h-10 rounded-full" src="https://via.placeholder.com/40" alt="Friends Forever">
                <div>
                    <h3 class="text-sm font-semibold">Friends Forever</h3>
                    <p class="text-sm text-gray-500">Hahahahah!</p>
                </div>
            </div>
            <div class="text-right">
                <p class="text-xs text-gray-400">Today, 9:52pm</p>
                <span class="inline-flex items-center justify-center h-6 w-6 text-xs font-semibold text-white bg-red-500 rounded-full">4</span>
            </div>
        </div>
        <div class="flex items-center justify-between mb-4 border-b">
            <div class="flex items-center space-x-4 pb-2">
                <img class="w-10 h-10 rounded-full" src="https://via.placeholder.com/40" alt="Friends Forever">
                <div>
                    <h3 class="text-sm font-semibold">Friends Forever</h3>
                    <p class="text-sm text-gray-500">Hahahahah!</p>
                </div>
            </div>
            <div class="text-right">
                <p class="text-xs text-gray-400">Today, 9:52pm</p>
                <span class="inline-flex items-center justify-center h-6 w-6 text-xs font-semibold text-white bg-red-500 rounded-full">4</span>
            </div>
        </div>

         <div class="flex items-center justify-between mb-4 border-b">
            <div class="flex items-center space-x-4 pb-2">
                <img class="w-10 h-10 rounded-full" src="https://via.placeholder.com/40" alt="Friends Forever">
                <div>
                    <h3 class="text-sm font-semibold">Friends Forever</h3>
                    <p class="text-sm text-gray-500">Hahahahah!</p>
                </div>
            </div>
            <div class="text-right">
                <p class="text-xs text-gray-400">Today, 9:52pm</p>
                <span class="inline-flex items-center justify-center h-6 w-6 text-xs font-semibold text-white bg-red-500 rounded-full">4</span>
            </div>
        </div>
    </div>

    
    //- div(class="flex overflow-x-auto")
    //-     div(class="p-2 relative justify-center  items-center")
    //-         <img class="w-10 h-10 rounded-full" src="https://huanluyencho119.vn/storage/9c/b8/9cb8sza53kwquhgx4wmgnll6g3wu_cach-huan-luyen-cho-phat-mot-chu-cho-khi-lam-sai-lieu-co-hieu-qua-nhu-mong-doi.jpg" alt="Rounded avatar">
    //-         div(class="text-sm text-gray-500 dark:text-gray-400 pt-1 font-semibold	")  Trung
    //-         <span class="bottom-7 left-9 absolute  w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
    //-     div(class="p-2 relative justify-center  items-center")
    //-         <img class="w-10 h-10 rounded-full" src="https://huanluyencho119.vn/storage/9c/b8/9cb8sza53kwquhgx4wmgnll6g3wu_cach-huan-luyen-cho-phat-mot-chu-cho-khi-lam-sai-lieu-co-hieu-qua-nhu-mong-doi.jpg" alt="Rounded avatar">
    //-         div(class="text-sm text-gray-500 dark:text-gray-400 pt-1 font-semibold	")  Trung
    //-         <span class="bottom-7 left-9 absolute  w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
    //-     div(class="p-2 relative justify-center  items-center")
    //-         <img class="w-10 h-10 rounded-full" src="https://huanluyencho119.vn/storage/9c/b8/9cb8sza53kwquhgx4wmgnll6g3wu_cach-huan-luyen-cho-phat-mot-chu-cho-khi-lam-sai-lieu-co-hieu-qua-nhu-mong-doi.jpg" alt="Rounded avatar">
    //-         div(class="text-sm text-gray-500 dark:text-gray-400 pt-1 font-semibold	")  Trung
    //-         <span class="bottom-7 left-9 absolute  w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
    //-     div(class="p-2 relative justify-center  items-center")
    //-         <img class="w-10 h-10 rounded-full" src="https://huanluyencho119.vn/storage/9c/b8/9cb8sza53kwquhgx4wmgnll6g3wu_cach-huan-luyen-cho-phat-mot-chu-cho-khi-lam-sai-lieu-co-hieu-qua-nhu-mong-doi.jpg" alt="Rounded avatar">
    //-         div(class="text-sm text-gray-500 dark:text-gray-400 pt-1 font-semibold	")  Trung
    //-         <span class="bottom-7 left-9 absolute  w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
    //- div(class="flex flex-col overflow-y-auto")
    //-     div(class="flex p-3 bg-white m-3 items-center rounded-md")
    //-         img(
    //-             src="https://huanluyencho119.vn/storage/9c/b8/9cb8sza53kwquhgx4wmgnll6g3wu_cach-huan-luyen-cho-phat-mot-chu-cho-khi-lam-sai-lieu-co-hieu-qua-nhu-mong-doi.jpg", 
    //-             alt="alt"
    //-             class="rounded-full w-10 h-10"
    //-         )
    //-         div(class="flex-grow p-1 overflow-hidden")
    //-             div(class="flex justify-between items-center")
    //-                 div(class="text-sm")
    //-                     |Trung 
    //-                 div.text-xs 12h00 am
    //-             div(class="truncate  text-xs text-gray-400 whitespace-nowrap w-full h-full") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua aaaaaaaaaaaaaa
    //-     div(class="flex p-3 bg-white m-3 items-center rounded-md")
    //-         img(
    //-             src="https://huanluyencho119.vn/storage/9c/b8/9cb8sza53kwquhgx4wmgnll6g3wu_cach-huan-luyen-cho-phat-mot-chu-cho-khi-lam-sai-lieu-co-hieu-qua-nhu-mong-doi.jpg", 
    //-             alt="alt"
    //-             class="rounded-full w-10 h-10"
    //-         )
    //-         div(class="flex-grow p-1 overflow-hidden")
    //-             div(class="flex justify-between")
    //-                 div(class="text-sm")
    //-                     |Trung 
    //-                 div.text-xs 12h00 am
    //-             div(class="truncate  text-xs text-gray-400 whitespace-nowrap w-full h-full") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua aaaaaaaaaaaaaa