section.dashboard 
    .top 
        <i class="fa-solid fa-bars sidebar-toggle"></i>
        .search-box 
            <i class="fa-solid fa-magnifying-glass"></i>
            input(type="text" placeholder="Search")
        ul.logout-mod 
            li.mode
                a(href="#")
                    <i class="fa-solid fa-moon"></i>
                    span.link-name Dark Mode
                .mode-toggle
                    span.switch
        img(src="/image/profile.jpg" alt="")   
    main(class="dash-content")
        block main
    