extends ../../layout/test.pug
block style 
    link(rel="stylesheet", href="/admin/css/createProduct.css")
block main
    .content 
        .content-header
            .content-header-breadcrumb 
                a(href="") Product 
                span.content-header-title Add Product
            .content-header-product-name 
                span Add Product
        .content-body 
            form(action="", method="post") 
                .content-body-col-6
                    .card-product
                        .card-product-header Product information
                        .card-name-product 
                            label(for="") Name 
                            input(type="text" placeholder="Shirt")

