extends ../../layout/test.pug
block style 
    link(rel="stylesheet", href="/admin/css/admin.css")
block main
    .over-view 
        .title 
            <i class="fa-brands fa-windows"></i>
            span.text Gallery
        .boxes 
            .box.box-1 
                <i class="fa-solid fa-user-plus"></i>
                span.text Total User 
                span.number 50.120
            .box.box-2 
                <i class="fa-brands fa-product-hunt"></i>
                span.text Products
                span.number 50.120
            .box.box-3 
                <i class="fa-solid fa-layer-group"></i>
                span.text Categories
                span.number 50.120
            .box.box-4 
                <i class="fa-solid fa-layer-group"></i>
                span.text Pemission
                span.number 50.120
        .activity
            .title 
                <i class="fa-solid fa-rotate-right"></i>
                span.text Recent User
            .activity-data 
                .data.names
                    .data-title Name 
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                .data.email
                    .data-title Email 
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                .data.joined
                    .data-title Join 
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                .data.type
                    .data-title Type 
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                .data.status
                    .data-title status 
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc
                    .data-list  Abc

                                 